@page
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Please check your email to reset your password.</p>
    <img src="~/images/cat.jpg" class="rounded-3" height="350px" width="500px" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
