@page
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Enter your email, activate your account and you'll be good to go.</p>
    <img src="~/images/imagesService/cat.jpg" class="rounded-3" height="350px" width="500px" />
</div>
